html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $site-font-family;
  font-size: $site-font-size;
  color: $default-color;
  line-height: $site-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
