@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
      clear: both;
  }
}

@mixin grid($column) {
  width: ((100 / $grid-columns) * $column) - ($grid-gutter-width * 2);
}
