@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
      clear: both;
  }
}

@mixin grid($column) {
  width: ((100 / $grid-columns) * $column) - ($grid-gutter-width * 2);
}

@mixin unselectable() {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
