// Typography
$site-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$site-font-size: 13px;
$site-line-height: 1.2;

// Colors
$graydark: #333;
$graylight: #eee;
$gray: #aaa;

// Theme colors
$default-color: #1a1a1a;
$primary-color: blue;
$secondary-color: organge;
