// Typography
$site-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$site-font-size: 13px;
$site-line-height: 1.2;

// Colors
$red: #e43700;
$graydark: #333;
$graylight: #eee;
$gray: #aaa;
$white: #fff;

// Theme colors
$primary-color: $red;
$secondary-color: $graydark;
