.filter-nav {
  width: 300px;
  height: 40px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  text-align: center;

  .filter-title {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #777;
  }

  ul {
    margin-top: 5px;
    display: inline-block;
  }

  li {
    float: left;
    display: inline-block;
    margin-right: 6px;
  }

}
