.layers-nav {
  height: 35px;
  top: 30px;
  right: 40px;

  .layers {
    height: 100%;
    width: 100%;
  }

  .layers li {
    float: left;
    padding: 8px 10px;
    display: inline-block;
    border-right: 1px solid #aaa;

    text-align: center;
    cursor: pointer;

    &:last-child {
      border-right: none;
    }

    &:before {
      content: ' \25CF';
      font-size: 15px;
      color: #ddd;
      margin-right: 3px;
    }

    &.selected,
    &.selected:before {
      color: green;
    }

  }
}
