<div class="filter-title">Show cleared / degraded forest over time:</div>

<ul class="filters">
  <li><label><input type="radio" name="group1" value="2000" checked>2000</label></li>
  <li><label><input type="radio" name="group1" value="2005" >2005</label></li>
  <li><label><input type="radio" name="group1" value="2010">2010</label></li>
  <li><label><input type="radio" name="group1" value="2012">2012</label></li>
</ul>
