<div class="forest-change-legend is-hidden">
  <div class="legend-title">Forest Change</div>
  <div class="category primary-forest">
    <div class="category-title">Primary Forest</div>
    <ul class="category-items">
      <li class="intact">Intact</li>
      <li class="degraded">Degraded</li>
    </ul>
  </div>

  <div class="category forest-change">
    <div class="category-title">Primary Forest Change</div>
    <ul class="category-items">
      <li class="cleared">Cleared</li>
      <li class="degraded">Degraded</li>
    </ul>
  </div>
</div>

<div class="no-layers is-hidden">No layer selected.</div>
